# Run every 1 minutes
*/1 * * * * /usr/local/bin/python /app/process_labels.py >> /var/log/cron.log 2>&1

*/1 * * * * /usr/local/bin/python /app/random_sampler.py >> /var/log/cron.log 2>&1

# Empty line at the end of the file is required